# top level
# ------------------
site_name: AuroraX Documentation
site_url: https://docs.aurorax.space
repo_url: https://github.com/aurorax-space
edit_uri: ""


# theme settings
# ------------------
theme:
  name: material
  logo: _extras/img/logo.svg
  favicon: _extras/img/logo.svg
  palette:
    - scheme: default
      primary: black
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - content.tabs.link
    - search.suggest
    - search.highlight
markdown_extensions:
  - meta
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
      title: On this page
  - markdown.extensions.codehilite:
      guess_lang: false
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true   
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra:
  analytics:
    provider: google
    property: G-CTBLCFZ6EP
  social:
    - icon: fontawesome/solid/globe
      link: https://aurorax.space
      name: AuroraX website
    - icon: fontawesome/brands/github-alt
      link: https://github.com/aurorax-space
      name: Source code on Github
extra_css:
  - _extras/stylesheets/extra.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - _extras/javascripts/tablesort.js


# navigation
# ------------------
nav:
  - Home: index.md
  - Getting Started:
    - Introduction: getting_started/intro.md
    - A Brief Look at AuroraX Data: getting_started/aurorax_data.md
    - What are Conjunctions?: getting_started/what_are_conjunctions.md
    - Searching and Exploring Conjunctions: getting_started/searching_conjunctions.md
    - Using Keogramist to Explore Keograms and Movies: getting_started/exploring_keograms.md
    - Data Availability and Statistics: getting_started/data_availability.md
    - Interacting with AuroraX Programmatically: getting_started/interacting_programmatically.md
  - About the Data:
    - Overview: about_the_data/overview.md
    - What metadata is in the AuroraX database?: about_the_data/metadata_in_aurorax.md
    - Data Categories: about_the_data/categories.md
    - Instrument Descriptions: 
      - Ground-based: about_the_data/instruments/ground.md
      - Space-based: about_the_data/instruments/space.md
    - Data Availability: about_the_data/availability.md
    - Data Policy: about_the_data/policy.md
    - Recommended Standards: about_the_data/standards.md
  - Web Tools:
    - Overview: web/overview.md
    - Conjunction Search: web/conjunction_search.md
    - Virtual Observatory: web/virtual_observatory.md
    - Citizen Science: web/citizen_science.md
  - Machine Learning:
    - Overview: ml/overview.md
    - About UCalgary cloud model: ml/models/ucalgary_cloud.md
    - About UCalgary APA model: ml/models/ucalgary_apa.md
    - About Clausen OATH model: ml/models/clausen_oath.md
  - Developer Zone:
    - Overview: code/overview.md
    - Installation: code/installation.md
    - Upgrading: code/upgrading.md
    - PyAuroraX API Reference: code/pyaurorax_api_reference/pyaurorax/index.html
    - IDL-AuroraX API Reference: 
      - Overview: code/idlaurorax_api_reference/overview.md
      - Data Access: code/idlaurorax_api_reference/data.md
      - Data Analysis: code/idlaurorax_api_reference/tools.md
      - TREx ATM: code/idlaurorax_api_reference/models/atm.md
      - Search Engine: code/idlaurorax_api_reference/search.md
      - Other: code/idlaurorax_api_reference/other.md
