# top level
# ------------------
site_name: AuroraX Documentation
site_url: https://docs.aurorax.space
repo_url: https://github.com/aurorax-space
edit_uri: ""


# theme settings
# ------------------
theme:
  name: material
  logo: _extras/img/logo.svg
  favicon: _extras/img/logo.svg
  palette:
    - scheme: default
      primary: black
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - content.tabs.link
    - search.suggest
    - search.highlight
markdown_extensions:
  - meta
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
      title: On this page
  - markdown.extensions.codehilite:
      guess_lang: false
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true   
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
extra:
  analytics:
    provider: google
    property: G-284760515
  social:
    - icon: fontawesome/solid/globe
      link: https://aurorax.space
      name: AuroraX website
    - icon: fontawesome/brands/github-alt
      link: https://github.com/aurorax-space
      name: Source code on Github
extra_css:
  - _extras/stylesheets/extra.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - _extras/javascripts/tablesort.js


# navigation
# ------------------
nav:
  - Home: index.md
  - Getting Started:
    - Introduction: getting_started/1_intro.md
    - A Brief Look at AuroraX Data: getting_started/2_aurorax_data.md
    - What are Conjunctions?: getting_started/3_what_are_conjunctions.md
    - Searching and Exploring Conjunctions: getting_started/4_searching_conjunctions.md
    - Using Keogramist to Explore Keograms and Movies: getting_started/5_exploring_keograms.md
    - Data Availability and Statistics: getting_started/6_data_availability.md
    - Interacting with AuroraX Programmatically: getting_started/7_interacting_programmatically.md
  - About the Data:
    - Overview: about_the_data/overview.md
    - What metadata is in the AuroraX database?: about_the_data/metadata_in_aurorax.md
    - Data Categories: about_the_data/categories.md
    - Instrument Descriptions: 
      - Ground-based: about_the_data/instruments/ground.md
      - Space-based: about_the_data/instruments/space.md
    - Data Availability: about_the_data/availability.md
    - Data Policy: about_the_data/policy.md
    - Recommended Standards: about_the_data/standards.md
  - Web Tools:
    - Overview: web/overview.md
    - Conjunction Search: web/conjunction_search.md
    - Virtual Observatory: web/virtual_observatory.md
    - Citizen Science: web/citizen_science.md
  - Machine Learning:
    - Overview: ml/overview.md
    - About UCalgary cloud model: ml/models/ucalgary_cloud.md
    - About UCalgary APA model: ml/models/ucalgary_apa.md
    - About Clausen OATH model: ml/models/clausen_oath.md
  - Developer Zone:
    - Overview: code/overview.md
    - Installation: code/installation.md
    - Basic Usage:
      - Overview: code/basic_usage/overview.md
      - Data Sources: code/basic_usage/data_sources.md
      - Conjunctions: code/basic_usage/conjunctions.md
      - Ephemeris: code/basic_usage/ephemeris.md
      - Data Products: code/basic_usage/data_products.md
    - Advanced Usage:
      - Authentication: code/advanced_usage/authentication.md
      - Advanced conjunction searches: code/advanced_usage/advanced_conjunctions.md
      - Asynchronous searches: code/advanced_usage/asynchronous_search.md
      - Searches with metadata filters: code/advanced_usage/searches_with_metadata_filters.md
      - Uploading data to AuroraX: code/advanced_usage/contributing_data.md
      - Data availability and statistics: code/advanced_usage/availability_and_stats.md
      - Interact with Swarm-Aurora: code/advanced_usage/swarmaurora.md
    - PyAuroraX API Reference: /code/pyaurorax_api_reference/pyaurorax
    - IDL-AuroraX API Reference: 
      - Overview: code/idlaurorax_api_reference/overview.md
      - Availability:
        - Data Products: code/idlaurorax_api_reference/availability/data_products.md
        - Ephemeris: code/idlaurorax_api_reference/availability/ephemeris.md
      - Conjunctions:
        - Create Advanced Distances: code/idlaurorax_api_reference/conjunctions/create_advanced_distances.md
        - Create Criteria Block: code/idlaurorax_api_reference/conjunctions/create_criteria_block.md
        - Open in Swarm-Aurora: code/idlaurorax_api_reference/conjunctions/open_in_swarmaurora.md
        - Save Swarm-Aurora Custom Import File: code/idlaurorax_api_reference/conjunctions/save_swarmaurora_import_file.md
        - Search: code/idlaurorax_api_reference/conjunctions/search.md
      - Data Sources: 
        - Get stats: code/idlaurorax_api_reference/sources/stats.md
        - List: code/idlaurorax_api_reference/sources/list.md
      - Data Product Search: code/idlaurorax_api_reference/data_products/search.md
      - Ephemeris Search: code/idlaurorax_api_reference/ephemeris/search.md
      - Metadata Filters:
        - Create Expression: code/idlaurorax_api_reference/metadata_filters/create_expression.md
        - Create Metadata Filter: code/idlaurorax_api_reference/metadata_filters/create_metadata_filter.md
    - RESTful API Reference: "https://api.aurorax.space"
